.sectionSupport {
    height: 100%;
    background: white;
    flex: 1 1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .contentMain {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 7px;
        .asideButtons {
            width: 100%;
            max-width: 60px;
            border-right: 1px solid #E4E6EB;

            ul {
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: 10px;
                align-items: center;

                .activeTest {
                    background: #E4E6EB;
                    border-radius: 5px;
                }

                li {
                    list-style-type: none;
                    display: block;
                    .svg {
                        padding: 5px;
                        border-radius: 5px;
                    }
                    :hover {
                        background: #E4E6EB;
                    }
                }
            }
        }
    }
}