.container {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-rows: 30% 1fr;
    grid-template-columns: 1fr;
    
    border-radius: 10px;
    
    .header {
        min-height: 75px;
        color: white;
        transition: height 160ms ease-out 0s;
        background: linear-gradient(135deg, rgb(103, 61, 230) 0%, rgb(58, 22, 167) 100%);        
        padding: 1rem;

        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        border-radius: 10px 10px 0 0;

        .headerOne {
            display: flex;
            justify-content: space-between;

            h1 {
                width: max-content;
                margin-left: -130px;
                padding: 10px;
                font-size: 1.5rem;
                letter-spacing: 4px;
            }
    
            button {
                cursor: pointer;
                background: transparent;
                border: none;
                align-items: center;
                transform: translateZ(0px);
    
                :hover {
                    border-radius: 10px;
                    transition: background-color 200ms ease 0s;
                    background: rgba(0, 0, 0, 0.5);
                }
                .svgs {
                    padding: 10px;
    
                    margin: 0 0px 0 0;
                }
            }
        }

       

        .cardContent {
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: 80%;
            padding: 24px 0;
            .temp {
                display: grid;
                align-items: center;
                width: 100%;
                height: 66px;
                grid-template-columns: 120px 1fr;

                .avatar {
                    width: 100%;
                    height: 100%;
                    position: relative;                       
                    
                    img {
                        border: 2px solid white;
                        border-radius: 50%;
                        width: 56px;
                        height: 56px;
                        object-fit: cover;
                        position: absolute;
                        top: 0;

                        &:nth-of-type(1) {
                            left: 0px;
                        }
                        &:nth-of-type(2) {
                            left: 20px;
                        }
                        &:nth-of-type(3) {
                            left: 40px;
                        }
                    }
                }

                .intercom {
                    font-size: 14px;
                    width: 100%;
                    color: rgba(255, 255, 255, 0.7);
                    -webkit-box-flex: 1;
                    flex-grow: 1;
                    margin-bottom: 10px;
                    letter-spacing: 2px;
                }

                .estivativa {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 5px;
                        font-weight: 600;
                        font-size: 14px;
                    }
            
                }
            }
        }
        
    }

    .section {
        position: relative;
        border-radius: 0 0 10px 10px;
        display: grid;
        flex-direction: column;
        gap: 16px;
        background: linear-gradient(180deg, rgba(228,227,227,1) 59%, rgba(77,38,193,0.3169642857142857) 86%);
        box-shadow: rgb(0 0 0 / 10%) 0px 4px 15px 0px, rgb(0 0 0 / 10%) 0px 1px 2px 0px, rgb(103 61 230 / 50%) 0px 2px 0px 0px inset;
        padding: 0 2%;

        .mensage {
            width: 100%;
            height: 100%;
            max-height: 430px;
            //gap: 2rem;
            overflow-x: hidden;

            .output {
                position: relative;
                width: 100%;
                color: rgb(0, 0, 0);
                
                .sms {
                    position: relative;
                    max-width: 65%;
                    float: right;
                    margin-right: 8px;
                    background-color: rgb(103, 61, 230);
                    padding: 17px 20px;
                    border-radius: 5px;
                    clear: both;
                    margin-top: 20px;
                    color: white;

                    p {
                        text-align: left;
                        font-size: 14px;
                    }
                }
            }

            .input {
                margin-top: 20px;
                position: relative;
                text-align: left;
                float: left;
                padding-left: 45px;
                width: calc(100% - 48px);
                clear: both;

                .avatar {
                    height: 100%;
                    position: absolute;
                    left: 0px;
                    
                    img {
                        position: absolute;
                        width: 38px;
                        height: 38px;
                        border-radius: 50%;
                        object-fit: contain;
                        bottom: 0;
                    }
                }

                .sms {
                    padding: 17px 20px;
                    border-radius: 5px;
                    position: relative;
                    display: inline-block;
                    width: auto;
                    max-width: 75%;
                    color: rgb(0, 0, 0);
                    background-color: rgb(245, 245, 245);
                    p {
                        text-align: left;
                        font-size: 14px;
                    }
                }
            }
        }

        .sendMensage {
            display: grid;
            align-items: center;
            gap: 5px;
            grid-template-columns: 1fr 1fr;
            //grid-template-columns: 67% 1% 30%;
            min-height: 56px;
            max-height: 200px;
            border-top: 1px solid rgb(230, 230, 230);
            padding: 0 20px;

            .sendMensageDiv {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                textarea {
                    font-size: 14px;
                    resize: none;
                    background: white;
                    padding: 8px  6px 6px 6px ;
                    text-align: left;
                    border-radius: 10px;
                    color: var(--color-black);
                }
    
                .buttonSendMesage {
                    width: max-content;
                    height: max-content;
                }
            }

            .icons {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }
    }
}