.reactModalOverlay {
    width: 100%;
    height: auto;

}

.reactModalContent {
    width: 100%;
    max-width: 414px;
    position: fixed;
    top: var(--positionTop);
    right: var(--positionRight);
    height: auto;
    background: white;
    border-radius: 10px;
}