.reactModalOverlay {
    width: 100%;
    height: 100%;

}

.reactModalContent {
    width: 100%;
    max-width: 414px;
    position: fixed;
    top: var(--positionTop);
    right: var(--positionRight);
    height: 90%;
    background: white;
    border-radius: 10px;
}