.send {
    margin-top: 16px;

    .buttonSendMessage {
        height: 40px;
        font-size: 14px;
        line-height: 40px;
        cursor: pointer;
        border-radius: 40px;
        border: none;
        text-align: center;
        padding: 0px 24px;
        background-color: rgb(103, 61, 230);
        color: rgb(255, 255, 255);
        transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
        
        .divSendMessage {
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;

            span {
                margin-left: 5px;
            }
        }
    }
}